body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
  font-family: "Goudy Bookletter 1911";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(21, 21, 21);
  letter-spacing: 2px;
  line-height: 1.75em;
  word-spacing: 3px;
  font-size: 1em;
}

code {
  font-family: 'source-code-pro, Menlo, Monaco, Consolas, 'Courier New'',
    monospace;
}

#body_paragraphs {
  margin: auto;
}

#body_div {
  background-color: rgb(173, 129, 86);
  padding: 0.1em 0 0.1em 0;
}

.big_text {
  font-size: 1.5em;
}

#gallery_div {
  width: 90%;
  margin: auto;
}

.button_div {
  flex: 1;
  padding-top: 2em;
}

.button_h4 {
  width: 50%;
  margin: auto;
  word-spacing: 2px;
  letter-spacing: 2px;
  border: solid 2px rgb(225, 213, 186);
  padding: 0.35em;
  font-size: 1.1em;
  font-weight: 500;
}

#body_gallery {
  margin-top: 7em;
}

#contact_div {
  background-color: rgb(173, 129, 86);
  padding: 2em;
  width: 50%;
  margin: auto;
}

.trans_logo_div {
  position: absolute;
  width: 80%;
  height: auto;
  z-index: 10;
  margin-top: 20%;
  margin-left: 10%;
}

.body_text {
  width: 50%;
  margin: 3em auto 2em auto;
  font-size: 1.2em;
  color: rgb(225, 213, 186);
}

.trans_logo {
  width: 22%;
}

.font-color-1 {
  color: rgb(225, 213, 186);
}

.font-color-2 {
  color: rgb(173, 129, 86);
}


.main_h1 {
  color: rgb(173, 129, 86);
    text-align: center;
    font-family: "madlove2regular";
    font-weight: 300;
    font-size: 4em;
}

.color_div {
  background-color: rgb(173, 129, 86);
}


#loading_div {
  padding: 5em;
}

#gallery_container {
  width: 100%;
  height: auto;
  margin: auto;
}
#img_container {
  height: auto;
  width: 100%;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}
.gallery_pics {
  height: 250px;
}

#header_div {
  background-color: rgb(21, 21, 21);
}

.nonchalant {
  text-decoration: none;
  list-style: none;
}

.black_link {
  color: black;
}

.nav_img {
  width: 66%;
  margin: 0 0 0 -11em;
}

.nav_item {
  font-size: 1.2em;
  margin-top: 10%;
}

.nav_bar {
  margin: auto;
  margin-right: 0;
  margin-bottom: 0.2em;
  width: 85%;
  height: 100%;
  font-size: 0.9em;
}

.nav_text {
  margin: auto;
  padding: 0.6em 0 0.6em 0;
}

.address_bar {
  padding: 0em 0 0.25em 0;
  background-color: rgb(173, 129, 86);
}

#main_text {
  width: 70%;
  margin: auto;
  padding: 2em;
}

.smaller_text {
  font-size: 1.2em;
}

.prologue_text_1 {
  width: 30%;
}

.prologue_text_2 {
  width: 45%;
}

.prologue_text_3 {
  width: 60%;
}


/*===============================================================================================================================*/
/*========================================----------- SECTION SEVEN ------------===================================================*/
/*===============================================================================================================================*/
#seven {
  width: auto;
  margin: auto;
  display: flex;
}

#seven_text {
  color: rgb(225, 213, 186);
  order: 2;
  flex: 2;
  text-align: right;
  padding-right: 0.5em;
  padding-top: 3.5em;
}

#seven_socials_div {
  order: 1;
  flex: 1;
  display: flex;
  flex-direction: row;
  padding-left: 1em;
}

#seven_facebook {
  flex: 1;
  padding: 1em 1em 1em 1em;
  width: 50%;
}

#seven_facebook_a {
  width: 60%;
  margin: auto;
}

#seven_instagram {
  flex: 1;
  padding: 1em 1em 1em 1em;
  width: 50%;
}

#seven_instagram_a {
  width: 60%;
  margin: auto;
}

.klaviyo-form-RBSHP6 {
  order: 3;
  flex: 2;
  height: 60%;
  background-color: rgb(22, 22, 22);
  padding-top: 1.7em;
}
@media all and (max-width: 900px) {
  #seven {
      margin-top: 1em;
      display: flex;
      flex-direction: column;
  }
  #seven_socials_div {
      flex: 2;
      width: 50%;
      margin: auto;
      text-align: center;
      display: flex;
      padding-left: 0;
  }
  #seven_facebook_a {
      width: 60%;
      margin: auto;
  }
  #seven_instagram_a {
      width: 60%;
      margin: auto;
  }
  #seven_facebook {
      flex: 1;
      width: 65%;
      margin: auto;
  }
  #seven_instagram {
      flex: 1;
      width: 65%;
      margin: auto;
  }
  #seven_text {
      width: auto;
      letter-spacing: 1px;
      font-size: 1.1em;
      margin: auto;
      text-align: center;
      flex: 1;
      padding-top: 0.5em;
  }
  .klaviyo-form-RBSHP6 {
      width: 100%;
      margin: auto;
      text-align: center;
      flex: 1;
      padding-top: 0;
  }
}
/*
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

